# Using Python Libraries

## First Up: Numeric Python

![numpy](https://raw.githubusercontent.com/donnemartin/data-science-ipython-notebooks/master/images/numpy.png)

[NumPy](https://www.numpy.org/) is the fundamental package for scientific computing with Python. Many other data science packages, especially those that work with matrices, rely on it for its speed and utility.

For numpy, the standard alias is `np`.

In [2]:
import numpy as np

### NumPy Arrays

Python lists and NumPy arrays can both hold numbers. However, Python lists have limited functionality for mathematical operations. NumPy arrays make it easy and fast to do math with a collection of numbers.

In [3]:
x = np.array([1, 2, 3])
print(x)
print(type(x))

[1 2 3]
<class 'numpy.ndarray'>

Let's make a list using base Python, and an array using Numpy, and see how they function differently:

In [4]:
numbers_list = [0, 5, 7]
numbers_array = np.array([0, 5, 7])

## Arithmetic Operations

Arithmetic operators (e.g. +, -, * and /) work according to mathematical principles for arrays, unlike with lists. These operations are done "element-wise".

In [5]:
# multiply the array by 3

numbers_array * 3

array([ 0, 15, 21])

In [6]:
# multiply the list by 3

numbers_list * 3

[0, 5, 7, 0, 5, 7, 0, 5, 7]

In [7]:
numbers_array + 20

array([20, 25, 27])

In [8]:
numbers_list + 20

TypeError: can only concatenate list (not "int") to list

### Speed

Below, you will find a piece of code we will use to compare the speed of operations on lists vs arrays.

In [9]:
size_of_vec = 1000

X = list(range(size_of_vec))
Y = list(range(size_of_vec))

In [10]:
%timeit [X[i] + Y[i] for i in range(size_of_vec)]

82 µs ± 1.04 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [11]:
X = np.array(range(size_of_vec))
Y = np.array(range(size_of_vec))

In [12]:
%timeit X + Y

693 ns ± 23.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

## Next Up: Importing, Reading and Manipulating Data with ACTUAL LITERAL PANDAS

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - but Pandas is a great library to work with relational data. 

[Check out the documentation!](https://pandas.pydata.org/pandas-docs/stable/) (always a great idea)

Note that we didn't go into a lot of Numpy's functionality, but here's something cool - Pandas is built on top of Numpy! That means they work really well together, and that Pandas has some math functionality already built in.

If you'd like to read more about Numpy and Pandas, [here is an interesting blog post](https://cloudxlab.com/blog/numpy-pandas-introduction/) discussing them.

Let's dive into some data from the Austin Animal Shelter. 

Data source: [intakes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [outcomes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238).

Today we'll be working with the intakes data, which I've already downloaded and included in the repository.

In [13]:
# Import
import pandas as pd

Before reading in the data, we need to know what format the data is in and where exactly the data can be found, so we can tell Pandas what to do.

In [14]:
# Where is our data?
!ls

IntroducingNumpyAndPandas.ipynb data

In [15]:
!ls data/

Austin_Animal_Center_Intakes_030921.csv
Austin_Animal_Center_Outcomes_030921.csv

In [16]:
# Read in the comma-separated-value (csv) document as df
df = pd.read_csv('data/Austin_Animal_Center_Intakes_030921.csv',
                 parse_dates=['DateTime'], infer_datetime_format=True)

What options do we have when we read in a csv? Let's look at the documentation!

[Convenient link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

I happen to know that there is a column in the data named 'DateTime' - let's use an argument to read it in as a datetime object, then discuss.

In [17]:
df['DateTime']

0        2019-01-03 16:19:00
1        2015-07-05 12:59:00
2        2016-04-14 18:43:00
3        2013-10-21 07:59:00
4        2014-06-29 10:38:00
                 ...
124217   2021-03-09 12:07:00
124218   2021-03-09 12:40:00
124219   2021-03-05 14:31:00
124220   2021-03-09 12:04:00
124221   2021-03-05 14:31:00
Name: DateTime, Length: 124222, dtype: datetime64[ns]

### Initial Exploration of a Dataframe

Questions to ask yourself:

- How big is the data?
- Are there any empty cells? 
- What are the datatypes of the columns of data?

In [18]:
# What does this dataframe look like?
# Check out the first 5 rows
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [19]:
# Check out the shape of the df
df.shape

(124222, 12)

In [20]:
# And then the size
df.size

1490664

In [21]:
# And then look at some info on the df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124222 entries, 0 to 124221
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124222 non-null  object
 1   Name              85158 non-null   object
 2   DateTime          124222 non-null  datetime64[ns]
 3   MonthYear         124222 non-null  object
 4   Found Location    124222 non-null  object
 5   Intake Type       124222 non-null  object
 6   Intake Condition  124222 non-null  object
 7   Animal Type       124222 non-null  object
 8   Sex upon Intake   124221 non-null  object
 9   Age upon Intake   124222 non-null  object
 10  Breed             124222 non-null  object
 11  Color             124222 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 11.4+ MB

In [22]:
# Describe the columns
df.describe()

<ipython-input-22-daaa70c92779>:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
count,124222,85158,124222,124222,124222,124222,124222,124222,124221,124222,124222,124222
unique,111013,19758,87743,87743,53737,6,10,5,5,52,2632,595
top,A721033,Max,2016-09-23 12:00:00,09/23/2016 12:00:00 PM,Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Domestic Shorthair Mix,Black/White
freq,33,564,64,64,22889,86507,108026,70505,40349,21809,30985,13039
first,NaN,NaN,2013-10-01 07:51:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,2021-03-09 12:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**A note on `.describe()`:** this function behaves differently whether we feed in objects or numeric types. We'll explore this more later.

**And a question:** You see that some of the ways we dealt with our dataframe required `()` and some did not - why is that?

- Methods vs. attributes

### Accessing Columns

Use brackets and the exact column name to access a particular column.

In [23]:
df['Name']

0          *Brock
1           Belle
2         Runster
3             NaN
4             Rio
           ...
124217        NaN
124218        NaN
124219    *Hansel
124220      Chema
124221    *Gretel
Name: Name, Length: 124222, dtype: object

### Dealing with Datetime Objects

You can access parts of a datetime object using `.dt` - an attribute of the column, not a method!

In [24]:
df['DateTime']

0        2019-01-03 16:19:00
1        2015-07-05 12:59:00
2        2016-04-14 18:43:00
3        2013-10-21 07:59:00
4        2014-06-29 10:38:00
                 ...
124217   2021-03-09 12:07:00
124218   2021-03-09 12:40:00
124219   2021-03-05 14:31:00
124220   2021-03-09 12:04:00
124221   2021-03-05 14:31:00
Name: DateTime, Length: 124222, dtype: datetime64[ns]

In [25]:
# Let's check out the intake year
df['DateTime'].dt.year

0         2019
1         2015
2         2016
3         2013
4         2014
          ...
124217    2021
124218    2021
124219    2021
124220    2021
124221    2021
Name: DateTime, Length: 124222, dtype: int64

In [26]:
# How do we create a new column?
# Let's create a new column for intake year
df['Intake Year'] = df['DateTime'].dt.year

In [27]:
# Check our work
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

In [28]:
# What datatype is the data in our new column?
df['Intake Year'].dtype

dtype('int64')

### Checking for Null Values

Can use `.isna` or `.isnull` - same thing!

In [29]:
# Check it - is the result what you expect?
df.isna()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Intake Year
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
124217,False,True,False,False,False,False,False,False,False,False,False,False,False
124218,False,True,False,False,False,False,False,False,False,False,False,False,False
124219,False,False,False,False,False,False,False,False,False,False,False,False,False
124220,False,False,False,False,False,False,False,False,False,False,False,False,False
124221,False,False,False,False,False,False,False,False,False,False,False,False,False

In [30]:
# How can you make that result more usable?
df.isna().sum()

Animal ID               0
Name                39064
DateTime                0
MonthYear               0
Found Location          0
Intake Type             0
Intake Condition        0
Animal Type             0
Sex upon Intake         1
Age upon Intake         0
Breed                   0
Color                   0
Intake Year             0
dtype: int64

### Checking for Duplicate Rows

In [31]:
# Function is called duplicated - check the documentation!
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
124217    False
124218    False
124219    False
124220    False
124221    False
Length: 124222, dtype: bool

In [32]:
# Can use same trick as above on duplicated
df.duplicated().sum()

19

### Dropping Columns or Rows

Several different methods depending on what we're doing - but the to discuss right now is `.drop`

In [33]:
# Let's drop the MonthYear column, which is the same as our DateTime
df = df.drop(columns=['MonthYear'])

In [34]:
# Check our work here...
df.head()

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Intake Year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

Why won't my changes save ???

Fun thing about pandas - time to discuss resetting variables, or using `inplace`

### Renaming Columns

[Documentation for `.rename`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html)

In [35]:
# Let's remove spaces from the columns, and make all column names lowercase to be easier
old_col_names = list(df.columns)

In [36]:
# Can use a dictionary to rename
new_col_names = ['id', 'name', 'date_time', 'found_location', 'intake_type',
                 'intake_condition', 'animal_type', 'sex_upon_intake', 
                 'age_upon_intake', 'breed', 'color', 'intake_year']

In [37]:
col_rename_dict = dict(zip(old_col_names, new_col_names))

In [38]:
df = df.rename(columns=col_rename_dict)

In [39]:
# Check your work
df.head()

,id,name,date_time,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

In [40]:
# Can also use a lambda function
df.rename(columns=lambda x: x.replace(" ", "_").lower())

,id,name,date_time,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
124217,A830428,NaN,2021-03-09 12:07:00,501 Strichen Drive in Travis (TX),Wildlife,Sick,Other,Unknown,2 years,Skunk,Black/White,2021
124218,A830411,NaN,2021-03-09 12:40:00,12609 Dessau Rd in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Dachshund/Rat Terrier,Brown/White,2021
124219,A830250,*Hansel,2021-03-05 14:31:00,Cesar Chavez And North Lamar in Austin (TX),Stray,Normal,Dog,Intact Male,4 years,German Shepherd,Brown/Black,2021
124220,A830431,Chema,2021-03-09 12:04:00,Austin (TX),Owner Surrender,Normal,Dog,Unknown,3 years,Beagle/Chihuahua Shorthair,Black/Brown,2021
124221,A830251,*Gretel,2021-03-05 14:31:00,Cesar Chavez And North Lamar in Austin (TX),Stray,Normal,Dog,Intact Female,2 years,German Shepherd,Brown/Black,2021

### Slicing and Dicing

Perhaps your biggest tool for exploring around your dataframes will be `.loc` (and it's accompanying `.iloc`). This allows you to use conditionals to explore your data!

In [41]:
# Example: look only at animals with intake type 'Stray'
df.loc[df['intake_type'] == 'Stray'].head()

,id,name,date_time,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014

In [42]:
# Second example: animals where the animal type is not dog
df.loc[df['animal_type'] != 'Dog'].head()

,id,name,date_time,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
8,A818975,NaN,2020-06-18 14:53:00,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,2020
9,A774147,NaN,2018-06-11 07:45:00,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White,2018
10,A731435,*Casey,2016-08-08 17:52:00,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby,2016
14,A790209,Ziggy,2019-03-06 14:31:00,4424 S Mopac Expwy in Austin (TX),Public Assist,Normal,Cat,Intact Female,4 years,Domestic Shorthair Mix,Brown Tabby/White,2019

In [43]:
# And a third - animals found before 2018
df.loc[df['intake_year'] < 2018].head()

,id,name,date_time,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
3,A665644,NaN,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2017

## Let's Start to Answer Questions!

#### Question 1: What is the most common Animal Type?

In [44]:
# Let's explore the Animal Type column to find out
df['animal_type'].value_counts()

Dog          70505
Cat          46483
Other         6625
Bird           587
Livestock       22
Name: animal_type, dtype: int64

In [45]:
# Another way - look above at describe, or run another describe
# 'Top' for an object column means 'most common'
df['animal_type'].describe()

count     124222
unique         5
top          Dog
freq       70505
Name: animal_type, dtype: object

#### Question 2: What is the most common dog breed to come into the shelter?

In [46]:
# Let's create a new df, dogs, for all dogs in the original data
dogs = df.loc[df['animal_type'] == 'Dog']

In [47]:
dogs.head()

,id,name,date_time,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,intake_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,2019
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,2015
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,2016
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014
5,A743852,Odin,2017-02-18 12:46:00,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,Labrador Retriever Mix,Chocolate,2017

In [48]:
# Now it's easier to look at common dog breeds
dogs['breed'].value_counts()

Pit Bull Mix                                  8413
Labrador Retriever Mix                        6866
Chihuahua Shorthair Mix                       6238
German Shepherd Mix                           3005
Australian Cattle Dog Mix                     1511
                                              ...
Labrador Retriever/Harrier                       1
American Pit Bull Terrier/American Bulldog       1
Norwich Terrier/Chihuahua Longhair               1
Yorkshire Terrier/Yorkshire Terrier              1
Australian Shepherd/Feist                        1
Name: breed, Length: 2328, dtype: int64

#### Question 3: What percentage of animals have come into the shelter in a condition other than "Normal"?

In [49]:
# Need to explore the proper column
df['intake_condition'].value_counts()

Normal      108026
Injured       6653
Sick          5090
Nursing       3525
Aged           430
Other          229
Feral          108
Pregnant        77
Medical         64
Behavior        20
Name: intake_condition, dtype: int64

In [50]:
# Want to use pandas to calculate, not inputting number manually
df['intake_condition'].value_counts()['Normal']

108026

In [51]:
num_normal = df['intake_condition'].value_counts()['Normal']

In [52]:
total_num = len(df)

In [53]:
# Calculate percentage
((total_num - num_normal) / total_num) * 100

13.037948189531646

In [54]:
# Other way to calculate

not_normal = df.loc[df['intake_condition'] != 'Normal']

In [55]:
len(not_normal)

16196

In [56]:
total_num - num_normal

16196

## Now - Outtake Data!

Let's explore together if we have time! If not - extra credit!